* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
   
}

body {
    background-image: url(./img/405b01dca75926d68e9cfaac5f7c4e50.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: rgb(249, 251, 252);}
    
header {
    width: 100%;
   
}